@font-face {
  font-family: 'Umbrella';
  src: url('../fonts/Umbrella.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hyperspace';
  src: url('../fonts/Hyperspace.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NicoMoji';
  src: url('../fonts/NicoMoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teko';
  src: url('../fonts/Teko.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chanel';
  src: url('../fonts/Chanel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Srbija';
  src: url('../fonts/Srbija Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: currentcolor;
}

a:visited {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .hideWidth {
    display: none !important;
  }

  .showWidth {
    display: block;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

@media (min-width: 1920px) {
  .SCPImage {
    height: 35vh;
  }
}

/* Контейнер для увеличенного изображения */
#full-size-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#full-size-container.active {
    display: flex;
}

/* Увеличенное изображение */
#full-size-image {
    max-width: 90%;
    max-height: 90%;
    position: relative;
}

/* Кнопка закрытия */
#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    color: #000;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#close-btn:hover {
    background: #f00;
    color: #fff;
}


.inputArticle {
  width:100%;
  height: 5vh;
  background-color:white;
  color:black;
  border:2px solid #ebebeb;
   border-radius:25px;
   box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
   font-family:Chanel;
   text-align:center;
   font-size:24px;
   align:center;
}

.inputArticle:hover {
  box-shadow: inset 0px 0px 20px -6px rgba(0, 0, 0, 0.55);
  transition:0.2s;
  border:2px solid grey;
}

.inputEmail {
  width:100%;
  height: 5vh;
  background-color:white;
  color:black;
  border:2px solid #ebebeb;
   border-radius:25px;
   box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
   font-family:Chanel;
   text-align:center;
   font-size:24px;
     transition:0.2s;
}

.inputEmail:hover {
  box-shadow: inset 0px 0px 20px -6px rgba(0, 0, 0, 0.55);
  transition:0.2s;
  border:2px solid grey;
}

.inputPhone {
  width:100%;
  height: 5vh;
  background-color:white;
  color:black;
  border:2px solid #ebebeb;
   border-radius:25px;
   box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
   font-family:Chanel;
   text-align:center;
   font-size:24px;
}

.inputPhone:hover {
  box-shadow: inset 0px 0px 20px -6px rgba(0, 0, 0, 0.55);
  transition:0.2s;
  border:2px solid grey;
}

.imagesPopupDescription {
  padding-top:0 !important;
}

.popUpInputCont {
  height:9vh;
}

.inputPopUpTextDescription {
  font-family: Chanel;
  font-size: 15px;
}

.popUpButton {
  width:20vh;
  height:5vh;
  background-color:white;
  color:grey;
  border:2px solid #ebebeb;
   border-radius:25px;
   box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
   font-family:Chanel;
   text-align:center;
   font-size:20px;
}

.popUpButton:hover {
 background-color:#ababab;
 transition:0.2s;
   border:2px solid grey;
}

.popUpButton:active {
 background-color:white;
 transform:scale(0.95);
  transition:0.1s;
}



 #searchInput {
   width:100%;
   height: 4vh;
   background-color:#ededed;
   color:black;
   border:2px solid #ebebeb;
   border-radius:15px 15px 0 0;
   transition:0.3s;
   box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
   font-family:Chanel;
   text-align:center;
   font-size:18px;
 }

 #searchInput:focus {
   width:100%;
   height: 4vh;
   background-color:white;
   font-color:black;
   border:2px solid #ebebeb;
   border-radius:15px;
   transition:0.3s;
   text-align:center;
 }


#searchSchematic {
  width:100%;
  height: 4vh;
  background-color:#ededed;
  color:black;
  border:2px solid #ebebeb;
  border-radius:15px 0 0 0;
  transition:0.3s;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  font-family:Chanel;
  text-align:center;
  font-size:18px;
}

#searchSchematic:focus {
  width:100%;
  height: 4vh;
  background-color:white;
  font-color:black;
  border:2px solid #ebebeb;
  border-radius:7px;
  transition:0.3s;
  text-align:center;
}



#partNumberFilter {
  width:100%;
  height: 4vh;
  background-color:#ededed;
  color:black;
  border:2px solid #ebebeb;
  border-radius:15px 0 0 0;
  transition:0.3s;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  font-family:Chanel;
    text-align:center;
    font-size:18px;
}

#partNumberFilter:focus {
  width:100%;
  height: 4vh;
  background-color:white;
  font-color:black;
  border:2px solid #ebebeb;
  border-radius:7px;
  transition:0.3s;
  text-align:center;
}

#brandFilter {
  height: 4vh;
  background-color:#ededed;
  color:black;
  border:2px solid #ebebeb;
  border-radius:15px 0 0 0;
  transition:0.3s;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  font-family:Chanel;
    text-align:center;
    font-size:14px;
}

#modelFilter {
  height: 4vh;
  background-color:#ededed;
  color:black;
  border:2px solid #ebebeb;
  border-radius:15px 0 0 0;
  transition:0.3s;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  font-family:Chanel;
    text-align:center;
    font-size:14px;
}

#modelFilter:disabled {
  height: 4vh;
  background-color:#ababab;
  color:white;
  border:2px solid #ebebeb;
  border-radius:15px 0 0 0;
  transition:0.3s;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  font-family:Chanel;
    text-align:center;
    font-size:14px;
}

#yearFilter {
  height: 4vh;
  background-color:#ededed;
  color:black;
  border:2px solid #ebebeb;
  border-radius:15px 0 0 0;
  transition:0.3s;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  font-family:Chanel;
    text-align:center;
    font-size:14px;
}

#searchButton {
  height: 4vh;
  width: 100px;
  background-color:#e6f7f4;
  color:black;
  border:2px solid #ebebeb;
  border-radius:10px;
  transition:0.3s;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  font-family:Chanel;
    text-align:center;
    font-size:18px;
}

#searchButton:hover {
 background-color:#ababab;
 transition:0.2s;
}

#searchButton:active {
 background-color:white;
 transform:scale(0.95);
  transition:0.1s;
}

#resetButton {
  height: 4vh;
  width: 100px;
  background-color:#ffe4c9;
  color:black;
  border:2px solid #ebebeb;
  border-radius:10px;
  transition:0.3s;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  font-family:Chanel;
    text-align:center;
    font-size:18px;
}

#resetButton:hover {
 background-color:#ababab;
 transition:0.2s;
}

#resetButton:active {
 background-color:white;
 transform:scale(0.95);
  transition:0.1s;

}

#noSearchResultS {
  width:100%;
  height: 6vh;
  width: 100px;
  background-color:#ededed;
  color:#ed7979;
  border:2px solid #ebebeb;
  border-radius:10px;
  transition:0.3s;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  font-family:Chanel;
    text-align:center;
    font-size:18px;
    display:none;
}

.seatchButtonsCont {
  padding-top:2vh;
}

.partNumberCont {
  padding-top:2vh;
}

.searchTitleText {
  font-family: Chanel;
  font-size:3vh;
}

.searchSchematicCont {
  padding-top:1vh;
  padding-bottom:2vh;
}


.mainFont {
  font-family:Chanel;
  font-size:24px;
}

.imagesInsidePopUp {
  max-height:200px;
  max-width:200px;
    transition:0.2s;
}

.imagesInsidePopUp:hover {
  transform:scale(1.1);
  transition:0.2s;
}

.popUpCont {
  background-color: #ebebeb;
    border-radius: 12px;
    border: 2px solid #d1d1d1;
    box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
    width:800px;
}

.imagesPopupDescription {
  padding-top:3vh;
  margin-left:3vh;
  font-family:Chanel;
}

.popupTitle {
  font-family:Chanel;
  text-align:center;
}

.schematicCont {
 background-color: #ebebeb;
   border-radius: 12px 0 0 0;
 margin-top:5vh;
 margin-left:2vh;
 margin-right:2vh;
 height:30vh;
 z-index: 1;
 border: 2px solid #d1d1d1;
 box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
   transition:0.2s;
   cursor:pointer;
}

.schematicCont:hover {
  border: 2px solid #d1d1d1;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 150, 100, 0.15);
  transition:0.2s;

}

.schematicCont:active {
  background-color:grey;
  transform: scale(0.993);
    box-shadow: inset 0px 0px 25px 7px rgba(0, 150, 100, 0.15);
  transition:none;

}

.schematicImageCont {
  width:22vh;
  height:24vh;
  overflow:hidden;
  margin-left:2vh;
  z-index:10;
  margin-top:-3vh;
  background-color:white;
  outline:7px white solid;
}

.schematicImage {
  padding:0;
}

.schematicTitle {
  padding-left:4vh;
  padding-top:1vh;
  font-size:3vh;
}

.schematicName {
  padding-left:4vh;
  margin-top:-0.8vh;
  font-size:2vh;
}

.schematicNumber {
  padding-left:4vh;
  font-size:2.7vh;
}

.schematicArticle {
  padding-left:4vh;
  margin-top:3vh;
  font-size:2.8vh;
}

.schematicPrice {
  font-size:3.5vh;
  margin-top:3vh;
  font-style:bold;
}

.schematicDate {
  padding-left:4vh;
  margin-top:3vh;
  font-size:2.2vh;
}

.schematicTitleMain {
  padding-left:3vh;
  padding-top:2vh;
}

.sticky-element {
      position: -webkit-sticky; /* Для Safari */
      position: sticky;
      top: 10vh; /* Отступ от верхней части страницы */
    }

/* Общий контейнер для пагинации */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

/* Общие стили для кнопок */
.pagination-button {
  width:4vh;
  height:4vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-family:Chanel;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #e0e0e0;
}

/* Стили для активной кнопки */
.pagination-button.active {
  background-color: #007bff;
  color: #fff;
  cursor: default;
}

/* Стили для отключённых кнопок */
.pagination-button.disabled {
  background-color: grey;
  color: #aaa;
  cursor: not-allowed;
}

/* Стили для номеров страниц */
.pagination-page {
  font-weight: bold;
}

/* Стили для кнопок "Назад" и "Вперёд" */
.pagination-prev,
.pagination-next {
  font-weight: bold;
}

/* Стили для многоточий */
.pagination-ellipsis {
  padding: 8px;
  font-size: 1rem;
  color: #666;
}


.newsImage {
  height:200px;
  width:200px;
  align-self: center;
  margin-left: -1.5vh;
  filter: drop-shadow(0px 0px 4px #222);
  margin-bottom:2vh;
}

.newsCont {
  background-color: #ebebeb;
  margin-top: 3vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  margin-bottom: 0vh;
  border-radius: 12px 0 0 0;
  border: 2px solid #d1d1d1;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
}

.newsTitle {
  font-family: Chanel;
  font-size: 4vh;
  padding-left: 2vh;
}

.newsDate {
  font-family: Chanel;
  font-size: 2vh;
  color: grey;
  padding-left: 2vh;
  margin-top: -0.5vh;
}

.newsText {
  font-family: Chanel;
  padding-left: 1.35vh;
  text-indent: 2vh;
}

.secondslidedisplaytrue {
  display: none;
}

@media only screen and (max-width: 512px) {
  body {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
  }
}

@media (min-width: 0) and (max-width:1266px) {
  .secondslidedisplaynone {
    display: none;
  }

  .secondslidedisplaytrue {
    display: block;
  }

  .hideWidth {
    display: none !important;
  }

  .bgSelection {
    background-color: #121212;
    height: 143vh;
  }
}

.tcheck {
  border: 2px red solid;
}

.logoimg {
  height: 13vh;
  filter: drop-shadow(0px 0px 7px #222);
}

.upper-bg-image {
  background-color: grey;
  height: 19vh;
}

.bg-cont-1 {
  background-image: url("../images/test-bg2-svg.svg");
  background-repeat: repeat;
  background-size: 500px;
}

.bg-cont-2 {
  height: inherit;
}

.row-skip-color {
  background-color: transparent;
}

.logoFont {
  font-family: NicoMoji;
  font-size: 40px;
}

.find-container {
  background-color: white;
  height:30vh;
  border-radius: 15px;
  border: 2px solid #d1d1d1;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
}

.content-container {
  background-color: white;
  padding-bottom: 3vh;
  border-radius: 15px 0 0 0;
  border: 2px solid #d1d1d1;
  box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
  margin-left: 1.5vw;
}

.upper-menu-row {
  background-color: white;
  color: grey;
}

.upper-menu-row-button {
  transition: 0.3s;
  font-size: 18px;
  font-family: Chanel;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  vertical-align: central;
}

.upper-menu-row-button:hover {
  box-shadow: inset 0px 0px 18px -7px rgba(0, 0, 0, 0.95);
  transition: 0.3s;
  color: black;
}

.upper-menu-row-button:active {
  background-color: grey;
  box-shadow: inset 0px 0px 18px -3px rgba(0, 0, 0, 0.95);
  transition: 0.1s;
}

@media (min-width: 0) and (max-width:576px) {}

@media (min-width: 577px) and (max-width:768px) {}

@media (min-width: 768px) and (max-width:992px) {}

@media (min-width: 992px) and (max-width:1200px) {}
