@font-face {
  font-family: 'InriaSans';
  src: url('../fonts/Inriasans.woff2') format('woff2'),
       url('../fonts/Inriasans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PetrovSans';
  src: url('../fonts/PetrovSans-Trial-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PetrovSansBold';
  src: url('../fonts/PetrovSans-Trial-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PetrovSansSemiBoldItalic';
  src: url('../fonts/PetrovSans-Trial-SemiBoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PetrovSansLight';
  src: url('../fonts/PetrovSans-Trial-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.graphicsCont {
  height:100vh;
  background-color:#1E1E1E;
  z-index: 100;
       }

.contFluid {
    background-color:#1E1E1E;

}

.mainCont {
  width:80vw;
}


.textHeader {
  font-family: 'PetrovSansBold';
  font-size: 40px;
  color:white;
  text-align: left;
  z-index: 1;

}

.textHeaderItal {
  font-family: 'PetrovSansSemiBoldItalic';
  font-size: 40px;
  color:white;
  text-align: left;
}

.textMain {
  font-family: 'PetrovSansLight';
  font-size: 20px;
  color:white;
}

.articleHeader {
  font-family: 'PetrovSansBold';
  font-size: 3vw;
  color:#EFA742;
  text-align: center;
  padding-top:6vh;
}

.articleText {
  text-align: justify;
}

.borderTest {
  border:0px solid white;
}


/* Фулскрин прелоадер */
    #preloader {
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background-color: #0d0d0d; /* Цвет фона */
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }

    /* Крутилка */
    .spinner {
      width: 60px;
      height: 60px;
      border: 6px solid #fff;
      border-top: 6px solid #00bcd4;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    .preloaderText {
      font-family: 'PetrovSansBold';
      font-size: 18px;
      color:white;
    }

    @keyframes spin {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    /* Чтобы страница не прокручивалась во время загрузки */
    body.loading {
      overflow: hidden;
    }
